<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <logger>

        <!--ConsoleAppender。-->
        <appender name="ConsoleAppender" type="SoftCube.Log.ConsoleAppender">
            <property name="LogFormat" value="{Message}{NewLine}"/>
            <property name="MinLevel" value="Info"/>
            <property name="MaxLevel" value="Fatal"/>
        </appender>

        <!--DiagnosticsAppender。-->
        <appender name="DiagnosticsAppender" type="SoftCube.Log.DiagnosticsAppender">
            <property name="LogFormat" value="{Message}{NewLine}"/>
            <property name="MinLevel" value="Trace"/>
            <property name="MaxLevel" value="Fatal"/>
        </appender>

        <!--FileAppender。-->
        <appender name="FileAppender" type="SoftCube.Log.FileAppender">
            <property name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <property name="MinLevel" value="Trace"/>
            <property name="MaxLevel" value="Fatal"/>
            <property name="FileOpenPolicy" value="Overwrite"/>
            <property name="Encoding" value="UTF-8"/>
            <property name="FilePath" value="{ApplicationData}/Mono.Cecil.Example/RenameMethodExample.log"/>
            <property name="BackupFilePath" value="{Directory}/{FileBody}.{DateTime:yyyy-MM-dd}{Index:\.000}{Extension}"/>
        </appender>

        <!--使用する Appender。-->
        <use-appender name="ConsoleAppender"/>
        <use-appender name="DiagnosticsAppender"/>
        <use-appender name="FileAppender"/>

    </logger>

</configuration>
